.comments-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.comment-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.comment {
    flex: 1;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.delete-btn {
    padding: 8px 16px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #ff6347;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-btn:hover {
    background-color: #cc4b38;
}